* {
	padding: 0px;
	margin: 0px;
}

body {
	/*background-repeat: no-repeat;*/
	background-size:cover;
	font: 14px/100% arial, "Hiragino Sans GB", "Hiragino Sans GB W3", 宋体;
}
/*换皮肤部分*/
.hao123-skin-wrap{
	display: none;
	width: 100%;
	height: 340px;
	background: #dfe1e2;
}
.skin-wrap-banner{
	width: 100%;
	height: 30px;
	background-color: #f8f8f8;
}
.banner-content{
	width: 1140px;
	height: 30px;
	margin: 0 auto;
}
.zxtj{
	width: 100px;
	height: 30px;
	line-height: 30px;
	background: #dfe1e2;
	color: #999;
	display: inline-block;
	text-align: center;
	border-right: 1px solid #eaeaea;
	text-decoration: none;
}
.zxtj:hover{
	background: #656565;
	color: #fff;
	border-right: 1px solid #656565;
}
.banner-right{
	width: 236px;
	height: 30px;
	float: right;
	/*background: red;*/
}
.banner-right a{
	height: 30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	display: block;
	float: left;
}
.banner-right a:nth-child(2){
	margin-right: 10px;
}
.cancel{
	width: 56px;	
	color: #333;	
}
.cancel:hover{
	color: #f50;
	text-decoration: underline;
}
.save{
	width: 100px;
	background-color: #34a637;
	color: #fff;
	background-image: url(../img/index_icon.png);
	background-position: -263px -88px;
	text-indent: 20px;
	/*display: block;*/
}
.unuese{
	width: 70px;
	color: #35a738
}
.unuese:hover{
	text-decoration: underline;
}
/*盛放皮肤的部分*/
.skin-wrap{
	width: 100%;
	height: 310px;
}
.skin-wrap-content{
	width: 1246px;
	height: 310px;
	margin: 0 auto;
	padding-top: 10px;
	box-sizing: border-box;
}
.skin-ul{
	width: 1140px;
	height: 280px;
	margin: 0px auto;
	/*background: aliceblue;*/
}
.skin-ul li{
	width: 180px;
	height: 125px;
	display: inline-block;
	float: left;
	margin-right: 9px;
	margin-top: 10px;
	position: relative;
}
.skin-img{
	width: 178px;
	height: 97px;
	display: block;
	border: 1px solid white;
}

.skin-ul li:hover .mark{
	display: block;
}
.mark{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 180px;
	height: 98px;
	cursor: pointer;
	background: #000;
	opacity: .2;
}
.select{
	position: absolute;
	visibility: hidden;
	width: 26px;
	height: 25px;
	top: -9px;
	right: 0px;
	background: url(../img/select.png) no-repeat 0px 0px;
}
.skin-title{
	width: 180px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	display: inline-block;
	color: #666;
}
.wm{
	background: url(../img/wm.jpg) no-repeat;
}
.ns{
	background: url(../img/ns.jpg) no-repeat;
}
.dzd{
	background: url(../img/dzd.jpg) no-repeat;
}
.nhh{
	background: url(../img/nhh.jpg) no-repeat;
}
.lt{
	background: url(../img/lt.jpg) no-repeat;
}
.ms{
	background: url(../img/ms.jpg) no-repeat;
}
/*工具栏*/

.tools-wrap {
	width: 100%;
	height: 61px;
	border-bottom: 1px solid #eaeaea;
}

.tools-content {
	width: 1190px;
	height: 60px;
	margin: 0 auto;
	font-family: 'Tahoma';
	/*background: mistyrose;	*/
}

.tools-content div {
	display: inline-block;
}

a:hover {
	cursor: pointer;
}


/*工具栏上的设为首页*/

.set-index {
	position: relative;
	top: -16px;
	width: 25px;
	line-height: 1.4;
	padding: 2px 5px 5px;
	display: inline-block;
	color: #fff;
	text-align: center;
	background: #07ac72;
	border-radius: 2px;
	font-size: 12px;
}


/*工具栏左侧的天气日期星座部分*/

.left-weatherdate {
	/*width: 600px;*/
	height: 60px;
	/*background: lightgoldenrodyellow;*/
}

.left-weatherdate a {
	font-size: 12px;
	font-family: 'Tahoma';
	text-decoration: none;
	color: #999;
}

.left-weatherdate div {
	/*display: inline-block;*/
	float: left;
	line-height: 60px;
	margin-right: 13px;
}


/*天气箭头*/

.weather-arrow {
	width: 9px;
	height: 6px;
	display: inline-block;
	background: url(../img/index_widthlg.png) no-repeat;
	background-position: -52px -97px;
}

.weather a {
	float: left;
	display: inline-block;
	margin-left: 8px;
}
.weather:hover,
.right-login:hover,
.right-webPan:hover,
.right-email:hover,
.right-brower:hover,
.right-skin:hover,
.right-message:hover{
	background-color: #f7f7f7;
}
.level {
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	background-color: #ccc;
	color: #fff;
	border-radius: 2px;
	padding: 1px;
}

.weather-icon {
	position: relative;
	top: 8px;
	line-height: 60px;
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url(../img/a53.png) no-repeat;
}

.temperature {
	font-family: 'arial';
}

.span-left {
	margin-left: 5px;
}


/*工具栏的右侧*/

.tools-content-right {
	float: right;
	width: 500px;
	height: 60px;
	display: inline-block;
	/*  background: lightgoldenrodyellow;*/
}

.tools-content-right div {
	line-height: 60px;
	display: inline-block;
	float: left;
	margin-left: 10px;
}

.tools-content-right div:nth-child(1) {
	margin-left: 150px;
}

.tools-content-right a {
	font-size: 12px;
	font-family: 'Tahoma';
	text-decoration: none;
	color: #999;
}


/*登录小图标*/

.login {
	position: relative;
	top: 5px;
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url(../img/index_widthlg.png) no-repeat;
	background-position: -30px -125px;
}

.face-icon {
	position: relative;
	top: 4px;
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../img/new_index_icon.png) no-repeat;
	background-position: -96px -46px;
}

.a-green {
	color: #0aa770!important;
}


/*输入框的部分*/

.search-wrap {
	width: 100%;
	height: 56px;
	padding-top: 10px;
	/*background: mistyrose;*/
}

.search-content {
	width: 1190px;
	height: 56px;
	margin: 0px auto;
	font-family: 'Tahoma';
	/*background: honeydew;*/
	text-align: center;
}

.search-content div,
.search-content ul {
	display: inline-block;
}

.search-content-inner {
	width: 1020px;
	height: 60px;
	/*background: lightgoldenrodyellow;*/
	/*margin: auto;*/
}

.search-content-inner div,
.search-content-inner ul {
	float: left;
	display: inline-block;
}


/*.baidu-logo{
	       	width: 120px;
	       	height: 80px;
	       	line-height: 80px;
	       	background: yellow;
	       }*/

.baidu-logo-a {
	width: 120px;
	height: 40px;
	display: inline-block;
	background: url(../img/index_widthlg.png) -10px -212px no-repeat;
}

.form {
	/*border: 1px solid black;*/
}

.div-search {
	width: 539px;
	height: 44px;
	margin-left: 25px;
	padding-left: 12px;
	border: 1px solid black;
	background: #fff;
}

.div-search span {
	line-height: 46px;
	float: left;
	display: inline-block;
	cursor: pointer;
	font: normal 12px/45px simsun;
	color: #999;
}

.web-arrow {
	position: relative;
	top: 18px;
	line-height: 46px;
}

.input-search {
	width: 448px;
	height: 18px;
	padding: 10px 0;
	border: 0;
	font: 16px arial;
	outline: none;
}

.input-baidu-btn {
	position: relative;
	left: -5px;
	width: 120px;
	height: 46px;
	border: 0;
	cursor: pointer;
	background: url(../img/index_widthlg.png) no-repeat -211px -180px;
}

.input-baidu-btn:hover {
	background: url(../img/index_widthlg.png) no-repeat -211px -230px;
}

.roll-ul {
	position: relative;
	top: 12px;
	left: 50px;
	color: #f50;
}

.roll-ul a {
	font-size: 12px;
	color: #666;
	white-space: nowrap;
	width: 154px;
	overflow: hidden;
}

.roll-ul a:hover {
	color: #f50;
	text-decoration: underline;
}


/*输入框底下的一下a标签*/

.a-wrap {
	width: 100%;
	height: 20px;
	/*background: yellow;*/
}

.a-wrap-container {
	width: 1000px;
	height: 20px;
	margin: 0 auto;
	line-height: 20px;
	/*text-align: center;*/
	/*background: bisque;*/
	box-sizing: border-box;
	padding-left: 135px;
}

.a-wrap-container ul {
	list-style: none;
}

.a-wrap-container ul li {
	display: inline-block;
}

.text {
	margin-right: 20px;
	font-size: 12px;
	line-height: 20px;
	color: #666;
}

.text a {
	font-size: 12px;
	line-height: 20px;
	color: #666;
}

.text a:hover {
	color: #f30;
	text-decoration: underline;
}

.search-icon {
	position: relative;
	top: 2px;
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../img/index_widthlg.png) no-repeat -159px -260px;
}


/*网站导航部分*/

.brower-wrap {
	width: 100%;
	height: 76px;
	margin-top: 20px;
	/*background: lavenderblush;*/
}

.brower-wrap-container {
	width: 1190px;
	height: 76px;
	margin: 0 auto;
	/*background: honeydew;*/
}

.brower-wrap-container .ul-top {
	list-style: none;
	width: 1190px;
	height: 38px;
	border-top: 2px solid #099e6a;
	border-bottom: 1px solid #eaeaea;
	background-color: #fcfcfc;
	font-family: "Microsoft Yahei";
}

.menu {
	height: 38px;
	line-height: 38px;
	width: 110px;
	float: left;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	/*overflow: hidden;*/
}

.menu:hover {
	color: #0aa770;
}

.link {
	position: relative;
	font-family: Microsoft Yahei;
	font-size: 16px;
	display: block;
}

.first {
	width: 81px;
	background-color: #0aa770;
	cursor: pointer;
	color: #fff;
}

.first:hover {
	color: #fff;
}

.menu-spilt {
	display: inline-block;
	width: 1px;
	height: 40px;
	position: absolute;
	top: 0;
	right: 0px;
	background: url(../img/menus_split.png) center left no-repeat;
}

.brower-wrap-container .ul-down {
	list-style: none;
	width: 1190px;
	height: 36px;
	border: solid 1px #84d7ba;
	border-top: 0px;
	background-color: #fff;
}

.brower-wrap-container .ul-down li {
	display: inline-block;
	float: left;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 14px;
	margin-right: 30px;
}

.brower-wrap-container .ul-down li:nth-child(1) {
	width: 80px;
	color: #0aa770;
}

.link-self {
	font-size: 14px;
}

.link-self:hover {
	cursor: auto;
}

.qw-link:hover {
	color: #f50;
	text-decoration: underline;
}


/*页面主体部分*/

.web-main {
	width: 100%;
	height: 460px;
	margin-top: 15px;
	/*background: lavenderblush;*/
}

.web-main-container {
	width: 1190px;
	height: 460px;
	margin: 0 auto;
	/*background: lightyellow;*/
}
/*页面主体的左边部分*/
.web-main-container-left {
	width: 280px;
	height: 450px;
	float: left;
	border: 1px solid #cecece;
	background: #fcfcfc;
}
.left-div1{
	padding-left: 13px;
	padding-top: 10px;
	width: 100%;
	height: 149px;
	box-sizing: border-box;
	border-bottom: 1px solid #ebebeb;;
}
.left-ul1 li{
	list-style: none;
	width: 128px;
	height: 26px;
	line-height: 26px;
	display: inline-block;
}
.left-ul1 li a:hover{
	text-decoration: underline;
	color: #F50;
}
.left-ul1 li span{
	padding: 0 5px;
	color: #999;
	position: relative;
	top: -1px;
}
.left-icon{
	position: relative;
	top: 6px;
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url(../img/index_menus_widthlg.png) no-repeat;
}
.tv{
	background-position: -20px -81px;
}
.yx{
	background-position: -19px -301px;
}
.dy{
	background-position: -20px -160px;
}
.dh{
	background-position: -20px -381px;
}
.js{
	background-position: -20px -100px;
}
.ly{
	background-position: -20px -261px;
}
.cp{
	background-position: -20px -21px;
}
.gx{
	background-position: -20px -121px;
}
.tj{
	background-position: -20px -281px;
}
.jy{
	background-position: -20px -362px;
}
.tq{
	background-position: -20px -221px;
}
.kb{
	background-position: -20px -492px;
}
.left-div2{
	width: 100%;
	/*height: 73px;*/
	/*background: blanchedalmond;*/
}
.left-div2-show,
.left-div2-hide{
	width: 100%;
	height: 35px;
	padding-left: 13px;
	box-sizing: border-box;
	/*background: aliceblue;*/
}
.left-div2-hide{
	display: none;
}
.left-ul2 li,
.left-ul3 li{
	list-style: none;
	width: 43px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
}
.left-ul2 li:nth-child(1),
.left-ul3 li:nth-child(1){
	width: 60px;
}
.left-ul2 li:nth-child(6){
	width: 14px;
}
.left-ul2 li:nth-child(6) a{
	position: relative;
	top: 4px;
	left: -17px;
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../img/new_index_icon.png) no-repeat -64px -22px;
}
.left-ul2 li a,
.left-ul3 li a{
	font-size: 12px;
}
.left-div3{
	width: 100%;
	height: 35px;
	background: #f7f7f8;
	position: relative;
}
.left-div3 span{
	position: relative;
	width: 50px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	display: inline-block;
}
.span-visited{
	border-top: 1px solid #0aa770;;
}
.left-div3 span a{
	color: #616161;
	text-decoration: none;
}
.left-div3 span a:hover{
	color: #0aa770;
}
.i-spilt{
	position: absolute;
	top: 10px;
	right: 0px;
	height: 15px;
	display: inline-block;
	border-width: 0 0 0 1px;
	border: 1px solid #EAEAEA;
}
.add-icon{
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	top: 12px;
	right: 6px;
	background: url(../img/new_index_icon.png) no-repeat -27px -5px;
}
.add-icon:hover{
	background-position:-44px -5px ;
}
.add-icon-content{
	width: 70px;
	height: 102px;
	background: #f7f7f8;
	position: absolute;
	right: 0px;
	z-index: 1000;
	display: none;
}
.add-icon-content span{
	width: 70px;
	height: 34px;
	text-align: center;
	cursor: pointer;
}
.add-icon-content span:hover{
	color: #0aa770;
}
.left-div4{
	width: 100%;
	height: 110px;
	position: relative;
}
.left-arrow,
.right-arrow{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 45px;
	z-index: 100;
	opacity: 0;
	cursor: pointer;
	background: url(../img/index_menus_widthlg.png) no-repeat;
}
.left-arrow{
	left: 10px;
	background-position: 0 -468px;
}
.right-arrow{
	right: 10px;
	background-position: -31px -468px;
}
.left-div4:hover .left-arrow,
.left-div4:hover .right-arrow{
	opacity: .9;
}
.a-img{
	width: 268px;
	height: 110px;
	display: block;
	margin: 0 1px;
	position: relative;
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.img-title{
	position: absolute;
	top: 90px;
	left: 15px;
}
.img-title:hover{
	text-decoration: underline;
}
.left-div5{
	width: 100%;
	height: 120px;
	padding-top: 5px;
	padding-left: 25px;
	box-sizing: border-box;
	/*background: red;*/
}
.left-ul4{
}
.left-ul4 li{
	list-style: square;
	color: #cecece;
	height: 28px;
	line-height: 28px;
}
.left-ul4 li a{
	color: #333;
	text-decoration: none;
}
.left-ul4 li a:hover{
	color: #f50;
	text-decoration: underline;
}
.left-ul4 .a-active{
	
}
/*页面主体的右边部分*/
.web-main-container-right {
	width: 900px;
	height: 460px;
	float: right;
	background: honeydew;
}

.right-one {
	width: 898px;
	height: 245px;
	border: 1px solid #84d7ba;
	background: #fcfcfc;
}
.right-one-ul1{
	padding-left: 40px;
	box-sizing: border-box;
	list-style: none;
	position: relative;
}
.right-one-ul1 li{
	width: 139px;
	height: 28px;
	line-height: 28px;
	text-align: left;
	float: left;
	/*margin-right: 30px;*/
	display: inline-block;
}
.right-one-ul1 li a{
	color: #000;
	text-decoration: none;
}
.right-one-ul1 li a:hover{
	text-decoration: underline;
	color: #F50;
}
.right-one-ul1 li .red,
.right-ul2 .red,
.right-ul3 .red
{
	color: #F50;
}
.right-one-ul1 li .green,
.right-ul3 li .green{
	color: #0aa770;
}
.right-one-ul1 li .green:hover,
.right-ul3 li .green:hover{
	color: #0aa770;
}
.icon{
	position: relative;
	top: 10px;
	width: 22px;
	height: 25px;
	display: inline-block;
	/*-webkit-transform: red;*/
}
.bd-icon{
	position: relative;
	top: 4px;
	background: url(../img/baiduzhongban-4.gif) no-repeat;
}
.xl-icon{
	background: url(../img/defaultIcon1229.png) no-repeat 2px -278px;
}
.sh-icon{
	background: url(../img/defaultIcon1229.png) no-repeat 2px -318px;
}
.tx-icon{
	background: url(../img/defaultIcon1229.png) no-repeat 2px -38px;
}
.wy-icon{
	background: url(../img/defaultIcon1229.png) no-repeat 2px -157px;
}
.yk-icon{
	background: url(../img/defaultIcon1229.png) no-repeat 2px -398px;
}
.tm-icon{
	position: relative;
	top: 4px;
	background: url(../img/tianmao2015082101.gif) no-repeat;
}
.icon11-a{
	position: relative;
	/*width: 43px;
	height: 30px;*/
	display:inline-block;
	/*z-index: 1000;*/
	/*-webkit-transform: red;*/
}
.font-a{
	color: #ff3c00 !important;
}
.icon-11{
	position: absolute;
	top: -20px;
	width: 34px;
	height: 30px;
	display: block;
	z-index: 1000;
	line-height: 13px;
	/*overflow: hidden;*/
	word-wrap: break-word;
	text-decoration: none;
	background: url(../img/bubble.png)no-repeat 0px 0px;
	vertical-align: top;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	padding: 2px 5px;
}
.fh-icon{
	background: url(../img/defaultIcon1229.png) no-repeat 2px -238px;
}
.tb-icon{
	background: url(../img/defaultIcon1229.png) no-repeat 2px -358px;
}
.yx-icon{
	background: url(../img/game0331.png) no-repeat;
}
.icon-4399{
	background: url(../img/defaultIcon1229.png) no-repeat 2px 2px;
}
.hao123-icon{
	background: url(../img/hao123-ys.png) no-repeat;
}
.jd-icon{
	position: relative;
	left: 3px;
	background: url(../img/21.1.png) no-repeat;
}
.sn-icon{
	background: url(../img/sn.png) no-repeat;
}
.tj-icon{
	background: url(../img/6282.png) no-repeat;
}
.visible{
	position: absolute;
	top: 10px;
	right: 0px;
	display: none;
}
.tejia:hover .visible{
	display: block;
}
.tejia{
	position: relative;
}
.circle{
	width: 4px;
	height: 4px;
	background: #FF0000;
	border-radius: 50%;
	position: absolute;
	right: -10px;
	top: 0px;
}
.gm-icon{
	background: url(../img/gm.png) no-repeat;
}
.qc-icon{
	background: url(../img/defaultIcon1229.png) no-repeat 2px -518px;
}
.jhs-icon{
	background: url(../img/jhs.png) no-repeat;
}

.right-one-ul1 li:nth-child(19),
.right-one-ul1 li:nth-child(20),
.right-one-ul1 li:nth-child(21),
.right-one-ul1 li:nth-child(22),
.right-one-ul1 li:nth-child(23),
.right-one-ul1 li:nth-child(24){
	margin-top: 15px;
}

.zhibo{
	position: relative;
}
.visible1{
	position: absolute;
	top: 10px;
	right: 0px;
	display: none;
}
.zhibo:hover .visible1{
	display: block;
}
/*设置小按钮*/
.set{
	width: 33px;
	height: 35px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 100;
	cursor: pointer;
	background: url(../img/index_widthlg.png) no-repeat -316px -128px;
}
/*小灯泡*/
.bulb{
	height: 22px;
	position: absolute;
	left: 0px;
	top: 213px;
	z-index: 100;
	/*background: red;*/
}
.bulb-icon{
	width: 22px;
	height: 22px;
	float: left;
	display: inline-block;
	cursor: pointer;
	background: url(../img/new_index_icon.png) no-repeat -24px -42px;
}
.bublb-user{
	width: 100px;
	float: left;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-family: "宋体";
	color: #0aa770;
	background-color: #f9f9f9;
	border-right: solid 1px #e9e9e9;
	border-top: solid 1px #e9e9e9;
	border-bottom: solid 1px #e9e9e9;
	border-radius: 2px;
	display: none;
}
.bulb:hover .bublb-user{
	display: block;
}
/*刷新小按钮*/
.refresh{
	width:20px;
	height: 20px;
	/*background: red;*/
	position: absolute;
	right: 20px;
	top: 217px;
	background: url(../img/new_index_icon.png) no-repeat;
	background-position: -48px -44px;
}
.refresh:hover{
	background-position: -71px -43px;
}

.right-two{
	width: 100%;
	height: 32px;
	text-align: center;
	/*background: blanchedalmond;*/
}
.right-two ul li{
	height: 32px;
	line-height: 32px;
	list-style: none;
	display: inline-block;
	margin-right: 12px;
}
.right-two ul li a{
	font-size: 12px;
	text-decoration: none;
}
.right-ul2 a{
	color: #3b5998;
}

.right-three{
	width: 898px;
	height: 144px;
	border: 1px solid #84d7ba;
	background: #fcfcfc;
}
.right-ul3{
	padding-left: 40px;
    padding-top: 8px;
	box-sizing: border-box;
	list-style: none;
	position: relative;
}
.right-ul3 li{
	list-style: none;
	width: 100px;
	height: 32px;
	line-height: 32px;
	display: inline-block;
}
.right-ul3 li a{
	color: inherit;
	text-decoration: none;
}
.right-ul3 li a:hover{
	text-decoration: underline;
	color: #F50;
}
.right-ul3 li:nth-child(1),
.right-ul3 li:nth-child(10),
.right-ul3 li:nth-child(19),
.right-ul3 li:nth-child(28){
	width: 50px;
}
.right-ul3 li:nth-child(9),
.right-ul3 li:nth-child(18),
.right-ul3 li:nth-child(27),
.right-ul3 li:nth-child(36){
	width: 40px;
	font-size: 12px;
}

.guesslike{
	width: 20px;
	height: 65px;
	position: absolute;
	left: 0px;
	top: 50px; 
	background: url(../img/new_index_icon.png) no-repeat;
}
.changePage{
	width: 21px;
	height: 61px;
	position: absolute;
	top:42px;
	right: 0px;
}
.changePage-link{
	width: 100%;
	height: 100%;
	display: block;
	background: url(../img/new_index_icon.png) no-repeat  0 -145px;
}
.changePage-link:hover{
	background: url(../img/new_index_icon.png) no-repeat  -21px -145px;
}
.ad{
	width: 25px;
	height: 14px;
	position: absolute;
	right: 0px;
	top:129px;
	opacity: 0.1;
	background: url(../img/new_index_icon.png) no-repeat  -82px -21px;
}

/*页面右侧*/
.page-right{
	width: 60px;
	height: 216px;
	position: fixed;
	right: 6px;
	bottom: 15px;
	z-index: 100;
}
.page-right a{
	width: 60px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	display: block;
	background: #fff;
	text-decoration: none;
	float: left;
	margin-bottom: 5px;
	border: 1px solid #cecece;
	color: #666;
}
.page-right a:hover{
	color: #118850;
}

/*页面左侧*/
.page-left{
	width: 50px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	background: #e6e6e6;
	padding-top: 83px;
	font-size: 12px;
}

.left{
	width:260px;
	height: 68px;
	/*float: left;*/
	margin-bottom: 10px;
}
.icon-div{
	width:50px;
	height: 68px;
	line-height: 68px;
	text-align: center;
	padding-top: 12px; 
	box-sizing: border-box;
	float: left;
}
.icon-div:hover{
	background: #F7F7F7;
}
.icon-a{
	width: 32px;
	height: 32px;
	display:block;
	margin: 0px auto;
}
.meng-icon{
	background: url(../img/meng.png) no-repeat;
}
.left-span{
	position: relative;
	top: -20px;
	color: #999;
	font-size: 12px;
	cursor: pointer;
}
.dm-icon{
	background: url(../img/dm.jpg) no-repeat;
}
.zb-icon{
	background: url(../img/zb.png) no-repeat;
}
.news-icon{
	background: url(../img/xw.png) no-repeat;
}
.haodj-icon{
	background: url(../img/dj.png) no-repeat;
}

.left-show{
	width: 210px;
	height: 68px;
	float: left;
	background: #F7F7F7;
	opacity: 0;
	/*display: none;*/
}
.left:hover .left-show{
	opacity: 1;
}
.titlt-link{
	width:142px;
	height: 68px;
	float: left;
	box-sizing: border-box;
	padding-left: 15px;
	padding-top: 5px;
}
.p1{
	line-height: 34px;
}
.p1 a{
	text-decoration: none;
	color: #666;
	font-size: 14px;
}
.p1 a:hover{
	color: #f30;
	text-decoration: underline;
}
.p2 a{
	text-decoration: none;
	color: #999;
	font-size:12px;
}
.link-img{
	width: 68px;
	height: 68px;
	float: left;
}
.link-img1{
	width: 68px;
	height: 68px;
	display: block;
	background: url(../img/link-img1.png) no-repeat;
}
/*收 放箭头*/
.left-hide{
	margin-top: 90px;
	position: fixed;
	left: 0px;
	width: 50px;
	height: 50px;
	background: url(../img/slidetoolbar-icon.png) no-repeat;
}
.left-hide{
	z-index: 200;
	background-position:-49px -73px;
}
.left-hide:hover,
.left-show:hover{
	background-color: #f1f1f1;
}
/*.left-show{
	position: relative;
	left: 0px;
	top: 500px;
	width: 50px;
	height: 50px;
	background-position:-44px -161px;
	z-index: 50;
}*/
